:root {
	--width: 33.333%;
	--height: 150px;
	--size: 50px;
}

.header {
	border: 7px solid #444;
	background-color: #999;
	color: #877;
	width: 100%;
	height: 300px;
	font-family: monospace;
	font-size: 150px;
	transition: 0.5s;
}

.header:hover {
	border: 11px solid #333;
	background-color: #888;
	color: #655;
	font-size: 200px;
}

/* ----------------------------------- */

.social {
	border: 3px solid #666;
	background-color: #ddd;
	color: black;
	width: var(--width);
	height: var(--height);
	font-family: monospace;
	font-size: var(--size);
	transition: 0.5s;
	float: left;
}

.social:hover {
	border: 7px solid #666;
	background-color: rgb(118, 255, 129);
	font-size: 75px;
}

/* ----------------------------------- */

.coding {
	border: 3px solid #666;
	background-color: #edd;
	color: black;
	width: var(--width);
	height: var(--height);
	font-family: monospace;
	font-size: var(--size);
	transition: 0.5s;
	float: left;
}

.coding:hover {
	border: 7px solid #666;
	background-color: rgba(118, 255, 129, 0.600);
	font-size: 75px;
}

/* ----------------------------------- */

.school {
	border: 3px solid #666;
	background-color: #fbb;
	color: black;
	width: var(--width);
	height: var(--height);
	font-family: monospace;
	font-size: var(--size);
	transition: 0.5s;
	float: left;
}

.school:hover {
	border: 7px solid #666;
	background-color: rgba(118, 255, 129, 0.200);
	font-size: 75px;
}

/* ----------------------------------- */

.google {
	border: 3px solid #666;
	background-color: #aaf;
	color: black;
	width: 100%;
	height: var(--height);
	font-family: monospace;
	font-size: var(--size);
	transition: 0.5s;
	float: left;
}

.google:hover {
	border: 7px solid #666;
	background-color: rgb(70, 68, 202);
	font-size: 75px;
}